html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

@font-face {
  font-family: "Faustina-Regular";
  src: url("./assets/fonts/Faustina-Regular.ttf");
}
h1 {
  text-align: center;
  font-size: 150px;
  font-family: Faustina-Regular;
}

.flex {
  display: flex;
}

.container {
  margin: auto;
  text-align: center;
  min-width: 50vw;
  min-height: 60vh;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(202, 202, 202, 0.18);
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-top {
  justify-content: flex-start;
  margin-bottom: auto;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.container {
  width: 100%;
  max-width: 960px;
  min-height: 75vh;
  z-index: 1;
}

.nav-item {
  color: rgba(48, 48, 48, 0.91);
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #d8d8d8;
  box-shadow: 0 0 2px 0 rgba(33, 33, 33, 0.72);
}

.btn-container {
  margin-top: 15px;
}

.btn {
  color: #f0f0f0;
  text-align: center;
  margin: 5px;
  padding: 0 10px 0 15px;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(33, 33, 33, 0.72);
}

.btn:hover, .nav-item:hover {
  opacity: 0.95;
  cursor: pointer;
}

.primary {
  background-color: #0092E5;
}
.stop {
  background-color: #DF270C;
}
.reset {
  background-color: #AEB7B8;
}

.small {
  height: 24px;
  width: 24px;
}

.btn-name {
  text-align: center;
  padding: 12px 12px;
}

.settings {
  width: 47%;
  margin-bottom: 4%;
}

.settings img {
  display: block;
  height: 34px;
}

.settings:hover {
  opacity: 0.9;
  cursor: pointer;
}

.left {
  margin-left: auto;
}

.modal {
  display: none;
  margin: 0 auto;
  padding: 0 auto;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 50;
  background-color: rgba(28, 28, 28, .9);
  transition: all 0.7s ease-in-out;
}

.main {
  min-height: 60%;
  width: 640px;
  background-color: rgba(252, 252, 252, 0.86);
  border-radius: 5px;
  z-index: 50;
  box-shadow: 0 0 2px 0 rgba(33, 33, 33, 0.72);
  box-sizing: border-box;
}
.close {
  width: 96%;
  margin-top: 2%;
}
.close:hover {
  cursor: pointer;
}
.close img {
  height: 28px;
}

.btn-group {
  width: 93%;
  margin-bottom: 6%;
}

.btn-group div {
  width: 6vw;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  border-width: 1px;
  border-color: rgba(213, 213, 213, 0.95);
  outline: none;
}

label h4 {
  margin-left: 2.5%;
  padding: 5px;
}
